
# Logs
logs
*.log


# Runtime data
pids
*.pid
*.seed
*.pid.lock



# Compiled binary addons
build/Release

# Dependency directories
node_modules
david_version/bower_components
demo_version/bower_components
