
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="./my-app-input.html">
<link rel="import" href="./pmr-options.html">
<link rel="import" href="./pmr-map.html">
<link rel="import" href="./icons-custom.html">


<dom-module id="my-app">
    <template>
        <style>
            paper-card {
                position: absolute;
                left: 25px;
                width: 30%;
                z-index: 1;
            }
        </style>
        
        
        
        <paper-card elevation="5">
            <my-app-input address-origin={{addressOrigin}} address-dest={{addresDest}}></my-app-input>
            <pmr-options type-travel=[[travelMode]]></pmr-options>
        </paper-card>
        
        <pmr-map origin={{addressOrigin}} destination={{addresDest}}>
            
        </pmr-map>
        
        
 
        
        
    </template>
    
    
    <script>
    
        HTMLImports.whenReady(function () {
            Polymer({
                is: 'my-app'
            });
        });

    </script>



</dom-module>