<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-directions.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./icons-custom.html">
<link rel="import" href="./pmr-map-marker.html">



<!-- Include HERE Maps JS API -->
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>

<dom-module id="pmr-map">
    <style>
        #map{
            position: static;
            display: block;   
            width: 1400px; 
            height: 1500px;
        }


    </style>
    
    <template>
    
        <div id="map"> </div>
        
        <!--<google-map id='gmap'
            map="{{map}}"
            api-key='[[mapKey]]'
            disable-default-ui
            latitude=50.8504500 longitude=4.3487800
            zoom=12
        >
            <template is="dom-repeat" items="[[mapMarkers]]" as='mapMarker'>
                <pmr-map-marker  hidden
                        marker-map="{{map}}" 
                        marker="[[mapMarker]]"
                        on-kick="{{tapTap}}"
                >
 
                </pmr-map-marker>
            </template>
            
        </google-map>-->
        
    </template>
    
    
    <script>
        HTMLImports.whenReady(function(){
            Polymer({
                is: "pmr-map",
                properties : {
                  
                    /**
                     * A Maps API object.
                     */
                    map: {
                      type: Object,
                      notify: true,
                      value: null
                    },
              
                    /**
                     * A latitude to center the map on.
                     * On default, BXL latitude
                     */
                    latitude: {
                      type: Number,
                      value: 50.8504500,
                      notify: true,
                      reflectToAttribute: true
                    },
              
                    /**
                     * A longitude to center the map on.
                     * On default, BXL longitude
                     */
                    longitude: {
                      type: Number,
                      value: 4.3487800,
                      notify: true,
                      reflectToAttribute: true
                    },   
              
                    /**
                     * A travel mode for the routing .
                     */
                    travel: {
                      type: String,
                      value: '',
                      notify: true,
                      reflectToAttribute: true,
                      observer: '_travelChanged'
                    },   
              
                    /**
                     * All markers on the map.
                     */
                    mapMarkers : {
                      type: Array,
                      value: function() { return []; },
                      notify: true,
                      reflectToAttribute: true,
                      observer: '_markersChanged'
                    },
                                
                    /**
                     * The destination adress for the routing 
                     */
                    destination : {
                      type: String,
                      notify: true,
                      reflectToAttribute: true,
                      observer: '_destinationChanged'
                    },
                                
                    /**
                     * The origin adress for the routing
                     */
                    origin : {
                      type: String,
                      notify: true,
                      reflectToAttribute: true,
                      observer: '_originChanged'
                    },
                                                  
                  
                  
              
              
                
                },
                
  
                _MAP_ID : 'IO6gmw0z15mcMOUlRGik',
                _MAP_CODE : 'NZQ-BYFCxuCTb_MwBXm3YQ',
                
                attached : function(){
                  this._initHereMaps();
                },
              
              
                _initHereMaps : function(){
                  this.platform = new H.service.Platform({
                        'app_id': this._MAP_ID,
                        'app_code': this._MAP_CODE,
                         useHTTPS : true
                    });
                    this.defaultLayers = this.platform.createDefaultLayers({lg:'fre'});
                    this.map = new H.Map(this.$.map, this.defaultLayers.normal.map,
                    {
                      zoom: 14,
                      center: {lat:this.latitude, lng:this.longitude}
                    });
                  console.log(document.getElementById('map'));
                    
                  this.behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(this.map));
                  this.ui = H.ui.UI.createDefault(this.map, this.defaultLayers);
                  
                },
                
                markOnMap : function (result){
                  // Define a callback function to process the geocoding response:
									var locations = result.Response.View[0].Result,
										position,
										marker;
									// Add a marker for each location found
									for (i = 0;  i < locations.length; i++) {
										position = {
											lat: locations[i].Location.DisplayPosition.Latitude,
											lng: locations[i].Location.DisplayPosition.Longitude
										};
										marker = new H.map.Marker(position);
										this.map.addObject(marker);
									}
                },
							
              
                // Called when the markers are set/changed
                _markersChanged : function(nMarkers){
              
                    console.log('Markers set'+nMarkers);
                },
							              
                // Called when the travel mode are set/changed
                _travelChanged : function(mode){
              
                    console.log('Travel mode set to : '+ mode);
                },
							
							
							
							
							// Called when the origin adress are set/changed
                _originChanged : function(nAdress){
              			if(nAdress && nAdress.length > 5)
                    	console.log('Origin : '+nAdress);
                },							
							
							// Called when the destination are set/changed
                _destinationChanged : function(nAdress){
              			if(this.origin && nAdress && nAdress.length > 5)
                    	console.log('Dest : '+nAdress);
                },
							

                
            });
        });
    </script>



</dom-module>


