<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-directions.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./icons-custom.html">
<link rel="import" href="./pmr-map-marker.html">



<!-- Include HERE Maps JS API -->
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>

<dom-module id="pmr-map">
    <style>
        #map{
            position: static;
            display: block;   
           width: 640px; 
            height: 480px;
        }


    </style>
    
    <template>
    
        <div id="map"> </div>
        
        <!--<google-map id='gmap'
            map="{{map}}"
            api-key='[[mapKey]]'
            disable-default-ui
            latitude=50.8504500 longitude=4.3487800
            zoom=12
        >
            <template is="dom-repeat" items="[[mapMarkers]]" as='mapMarker'>
                <pmr-map-marker  hidden
                        marker-map="{{map}}" 
                        marker="[[mapMarker]]"
                        on-kick="{{tapTap}}"
                >
 
                </pmr-map-marker>
            </template>
            
        </google-map>-->
        
    </template>
    
    
    <script>
        HTMLImports.whenReady(function(){
            Polymer({
                is: "pmr-map",
                properties : {
                    map : Object,
                    mapLayout : Object,
                    mapKey : {
                        type : String,
                        value : 'AIzaSyCsbzuJDUEOoq-jS1HO-LUXW4qo0gW9FNs'
                    },
                    travel : String,
                    mapMarkers : Object
                
                },
                
    
                _MAP_ID : 'IO6gmw0z15mcMOUlRGik',
                _MAP_CODE : 'NZQ-BYFCxuCTb_MwBXm3YQ',
                _BXL_COORD : { lat: 52.5, lng: 13.4 },
                
                attached : function(){
                  this._initHereMaps();
                },
              
              
                _initHereMaps : function(){
                  this.platform = new H.service.Platform({
                        'app_id': this._MAP_ID,
                        'app_code': this._MAP_CODE
                    });
                    this.defaultLayers = this.platform.createDefaultLayers();
                    this.map = new H.Map(this.$.map, this.defaultLayers.normal.map,
                    {
                      zoom: 14,
                      center: this._BXL_COORD
                    });
                  console.log(document.getElementById('map'));
                    
                  this.behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(this.map));
                  this.ui = H.ui.UI.createDefault(this.map, this.defaultLayers);
                                      
                },
                
                selectObstacle : function(){
                    console.log('An obstacle has been selected !');
                },
                
                tapTap : function (e){
                    console.log('Tap tap : ',e);
                }

                
            });
        });
    </script>



</dom-module>


