<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-directions.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./icons-custom.html">
<link rel="import" href="./pmr-map-marker.html">


<dom-module id="pmr-map">
    <style>
        google-map{
            position: static;
            display: block;
            height: 100%;
        }
    </style>
    
    <template>
        <google-map id='gmap'
            map="{{map}}"
            api-key='[[mapKey]]'
            disable-default-ui
            latitude=50.8504500 longitude=4.3487800
            zoom=12
        >
            <template is="dom-repeat" items="[[mapMarkers]]" as='mapMarker'>
                <pmr-map-marker  hidden
                        marker-map="{{map}}" 
                        marker="[[mapMarker]]"
                        on-kick="{{tapTap}}"
                        
                >
 
                </pmr-map-marker>
            </template>
            
        </google-map>
        
    




    </template>
    
    
    <script>
        HTMLImports.whenReady(function(){
            Polymer({
                is: "pmr-map",
                properties : {
                    map : Object,
                    mapKey : {
                        type : String,
                        value : 'AIzaSyCsbzuJDUEOoq-jS1HO-LUXW4qo0gW9FNs'
                    },
                    travel : String,
                    mapMarkers : Object
                
                },
                
    
                _BXL_COORD : {lat : 50.8504500, lng : 4.3487800 },
                
                ready : function(){
                    
                },
                
                selectObstacle : function(){
                    console.log('An obstacle has been selected !');
                },
                
                tapTap : function (e){
                    console.log('Tap tap : ',e);
                }

                
            });
        });
    </script>



</dom-module>


