<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="./icons-custom.html">


<dom-module id="pmr-map-input">
    <template>

        <paper-input 
                label="Adresse de Depart" 
                value="{{addressOrigin}}"
                required auto-validate error-message="Besoin d'une adresse de depart"
        >
            <paper-icon-button prefix 
                icon="maps:my-location"
                title='Localise-moi'
                on-tap="getCurrentLocationForOrigin"
            >
                
            </paper-icon-button>
            <paper-icon-button suffix id="btnClearOrigin"
                    on-tap="clearInputOrigin" 
                    icon="clear" alt="clear" title="clear"
            >
            </paper-icon-button>
        </paper-input>    
        
        <paper-input  id="addressDest" 
                label="Adresse de Destination" 
                value="{{addressDest}}"
                required auto-validate error-message="Besoin d'une adresse de destination"
        >
            <paper-icon-button prefix icon="maps:my-location"
                title='Localise-moi'
                on-tap="getCurrentLocationForDest"
            >
                
            </paper-icon-button>
            <paper-icon-button suffix 
                id="btnClearDest"    
                on-tap="clearInputDest"
                icon="clear" alt="clear" title="clear"
            >
            </paper-icon-button>
        </paper-input>
    
    
    </template>
    
    
    <script>
        Polymer({
            is: "pmr-map-input",
            properties : {
                addressOriginFull: String,
                addressDestFull :  String,

                addressOrigin: {
                    type: Object,
                    notify: true,
                    reflectToAttribute : true,
                    observer : '_onAddressOriginChanged'
                },
                
                addressDest : {
                    type : Object,
                    notify: true,
                    reflectToAttribute : true,
                    observer : '_onAddressDestChanged'
                },
              
              /**
               * The error message to display when the input is invalid. If you're using
               * PaperInputBehavior to implement your own paper-input-like element,
               * bind this to the `<paper-input-error>`'s content, if using.
               */
              errorMessage: {
                type: String
              },
              
                
            },

            _CURRENT_LOCATION   : null,
            
            clearInputOrigin : function (){
                this.addressOrigin = '';
            },
            
            clearInputDest : function (){
                this.addressDest = '';
            },
            
            
            getCurrentLocationForOrigin : function(){
                var that = this;
                 this._getCurrentLocation(function(pos){
                    that.addressOriginFull = pos;
                    that.addressOrigin = pos.compact;
                    that.notifyPath('addressOriginFull')
                 });
            },
            
            getCurrentLocationForDest : function(){
                var that = this;
                 this._getCurrentLocation(function(pos){
                    that.addressDestFull = pos;
                    that.addressDest = pos.compact;
                 });
            },
            
            
            _onAddressOriginChanged : function (nOrigin){
                // Hide the clear button on empty input
                this.$.btnClearOrigin.hidden = (!nOrigin);
                this.addressOrigin = nOrigin;    
            },
            _onAddressDestChanged : function (nDest){
                // Hide the clear button on empty input
                this.$.btnClearDest.hidden = (!nDest); 
                this.addressDest = nDest;    
            },
            
            _getCurrentLocation : function(cb){
                var that = this;
                if (window.navigator.geolocation) {
                    // Got already his current location ?
                    if(that._CURRENT_LOCATION !== null)
                        return cb(that._CURRENT_LOCATION);
                    // Otherwise, go fetch his location
                    window.navigator.geolocation.getCurrentPosition(function(pos){
                        that._CURRENT_LOCATION = {'lat':pos.coords.latitude,"lng": pos.coords.longitude};    
                        that._CURRENT_LOCATION.compact = pos.coords.latitude + ', ' + pos.coords.longitude;
                        return cb(that._CURRENT_LOCATION);
                    }, that._onGetLocationError);
                } else {
                    that.errorMessage = "La Geolocation n'est pas supporte par votre navigateur.";
                    this.fire('error', this.errorMessage);
                }
            },

            _onGetLocationError : function(err){
                switch(err.code) {
                    case err.PERMISSION_DENIED:
                        this.errorMessage = "Vous avez refuse la requete pour la Geolocation.";
                    break;
                    case err.POSITION_UNAVAILABLE:
                        this.errorMessage = "La Geolocation est indisponible.";
                    break;
                    case err.TIMEOUT:
                        this.errorMessage = "La requete de Geolocation a expiree.";
                    break;
                    case err.UNKNOWN_ERROR:
                        this.errorMessage = "Une erreur bizarre est survenue.";
                    break;
                }
                console.warn(this.errorMessage);
                this.fire('error', this.errorMessage);
            }
            
        });
    </script>



</dom-module>


